.audio-player-container {
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  height: 48px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.react-player {
  display: none;
}

.audio-player-elements {
    display: flex;
    position: relative;
    height: 100%;
}

.audio-player-button-containers {
  padding: 0;
}

.audio-player-control-buttons {
  width: 24px;
  height: 100%;
  margin: 0 0 0 12px;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.prev-button {
  background-color: transparent;
  border: none;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/prev-859a883.svg);
  background-position: 40% center;
}

.play-button {
  background-color: transparent;
  border: none;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/play-6a409bd.svg);
  background-position: 55% center
}

.pause-button {
  background-color: transparent;
  border: none;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/pause-795d912.svg);
  background-position: 55% center;
}

.next-button {
  background-color: transparent;
  border: none;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/skip-c4f0490.svg);
  background-position: 60% center
}

.not-looping-button {
  background-color: transparent;
  border: none;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/repeat-6c3e166.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.is-looping-button {
  background-color: transparent;
  border: none;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/repeat-all-098b32e.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.playback-time-elapsed {
  height: 46px;
  width: 50px;
  color: #f50;
  text-align: right;
  line-height: 46px;
  font-size: 11px;
  font-family: sans-serif;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  // @media (max-width: 1240px) {
  //   width: 512px;
  // }
    width: 352px;
  overflow: hidden;
}

.progressbar-wrapper {
  position: relative;
  flex-grow: 1;
  line-height: 46px;
  font-size: 11px;
  height: 46px;
}

.progressbar-wrapper {
  width: 100%;
}

.playback-time-duration {
  height: 46px;
  width: 50px;
  color: #333;
  text-align: left;
  line-height: 46px;
  font-size: 11px;
  font-family: sans-serif;
}

.progressbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.volume-button-container {
  background-color: transparent;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: relative;
}

.high-volume-button {
  background-color: transparent;
  border: none;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/volume-max-1fbfd63.svg);
  background-position: left center;
  background-repeat: no-repeat;
  outline: 0;
  width: 24px;
  height: 46px;
}

.low-volume-button {
  background-color: transparent;
  border: none;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/volume-medium-4ed0236.svg);
  background-position: left center;
  background-repeat: no-repeat;
  outline: 0;
  width: 24px;
  height: 46px;
}

.mute-volume-button {
  background-color: transparent;
  border: none;
  background-image: url(https://a-v2.sndcdn.com/assets/images/playback/volume-muted-745945a.svg);
  background-position: left center;
  background-repeat: no-repeat;
  outline: 0;
  width: 24px;
  height: 46px;
}

.volume-button-container:hover input[type=range]{
  height: 92px;
  z-index: 1;
  transition: height 100ms;
  background-color: #ccc;
}

.volume-button-container:hover .volume-slider{
  position: absolute;
  height: 92px;
  z-index: 1;
  transition: height 100ms;
  background-color: #f2f2f2;
}

.volume-slider {
  z-index: 1;
  width: 30px;
  height: 0;
  transition: height 100ms;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
  background-color: #f2f2f2;
  border: 1px solid transparent;
  outline: 0;
  z-index: 0;
  bottom: 40px;
  border: 5px solid #000;
  border-color: transparent transparent #ccc #ccc;
  padding-bottom: 100px;
  right: 2px;

  input[type=range] {
    -webkit-appearance: none;
    -webkit-appearance: slider-vertical;
    bottom: 40px;
    height: 0;
    left: 10px;
    background-color: #f2f2f2;
    outline: 0;
    // overflow: hidden;
    transform: translateZ(0);
    border: 1px solid transparent;
    width: 2px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    border: 1px solid #f50;
    box-sizing: border-box;
    // margin-top: -4px;
    // margin-left: -4px;
    background: #f50;
    // opacity: 1;
  }
}
