/**
* Rangeslider
*/
.rangeslider {
  position: relative;
  background: #ccc;
  -ms-touch-action: none;
  touch-action: none;
  cursor: pointer;
  background-clip: content-box;

  &,
  .rangeslider__fill {
    display: block;
  }
  .rangeslider__handle {
    background: #f50;
    border: 1px solid #f50;
    cursor: pointer;
    display: inline-block;
    position: absolute;
  }
}

/**
* Rangeslider - Horizontal slider
// */
.rangeslider-horizontal {
  margin: 17px 10px 0 10px;
  height: 1px;
  padding-top: 5px;
  padding-bottom: 20px;

  .rangeslider__fill {
    height: 100%;
    background-color: #f50;
  }
  .rangeslider__handle {
    width: 6px;
    height: 6px;
    top: 1px;
    border-radius: 100%;
    transition: opacity 150ms;
    opacity: 0;
  }
}

.progressbar-wrapper:hover .rangeslider__handle {
  opacity: 1;
  transition: opacity 150ms;
}

/**
* Rangeslider - Vertical slider
*/
.rangeslider-vertical {
  height: 75px;
  margin: 10px auto;
  max-width: 2px;
  background-color: #ccc;
  // overflow: hidden;

  .rangeslider__fill,
  .rangeslider__handle {
    position: absolute;
    height: 100%;
    background-color: #f50;
  }

  .rangeslider__fill {
    width: 100%;
    background-color: #f50;
    box-shadow: none;
    transform: rotateY(180deg);
    bottom: 0;
  }
  .rangeslider__handle {
    height: 6px;
    width: 6px;
    left: -2px;
    border-radius: 100%;
    box-shadow: none;
  }
}
